<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>phuongntd.controller.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>phuongntd.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>phuongntd.servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <servlet-class>phuongntd.servlet.CreateNewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewQuestionServlet</servlet-name>
        <servlet-class>phuongntd.servlet.CreateNewQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <servlet-class>phuongntd.servlet.SearchQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>phuongntd.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>phuongntd.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuizServlet</servlet-name>
        <servlet-class>phuongntd.servlet.TakeQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckQuizServlet</servlet-name>
        <servlet-class>phuongntd.servlet.CheckQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuizHistoryServlet</servlet-name>
        <servlet-class>phuongntd.servlet.ViewQuizHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>phuongntd.servlet.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/ProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <url-pattern>/CreateNewAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewQuestionServlet</servlet-name>
        <url-pattern>/CreateNewQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <url-pattern>/SearchQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuizServlet</servlet-name>
        <url-pattern>/TakeQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckQuizServlet</servlet-name>
        <url-pattern>/CheckQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuizHistoryServlet</servlet-name>
        <url-pattern>/ViewQuizHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ProcessServlet</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>QuizOnline</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
